# 🐍 Virtual environment
# Ignora pastas de ambientes virtuais Python, usadas para isolar dependências do projeto.
env/
venv/

# 🚀 Django
# Ignora arquivos de banco SQLite usados apenas no desenvolvimento local.
*.sqlite3

# Ignora arquivos Python compilados que são gerados automaticamente.
*.pyc

# Ignora a pasta onde o Python armazena caches de compilação.
__pycache__/

# 🛠️ VSCode
# Ignora configurações pessoais do editor Visual Studio Code.
.vscode/

# 💻 Sistema operacional
# Arquivo oculto criado pelo macOS para armazenar configurações de visualização de pastas.
.DS_Store

# Arquivo criado pelo Windows para cache de miniaturas de imagens nas pastas.
Thumbs.db
